- if params[:"analytical-cookies"] == "off"
  .lcdui-notice-summary
    .govuk-error-summary
      .govuk-error-summary__title
        Analytical cookies turned off
- if params[:"analytical-cookies"] == "on"
  .lcdui-notice-summary
    .govuk-error-summary
      .govuk-error-summary__title
        Analytical cookies enabled

= govuk_page_title(t('cookie_settings.page_title', service_name: service_name))

%p.govuk-body= t('cookie_settings.section_one.paragraph_one')

%p.govuk-body= t('cookie_settings.section_one.paragraph_two')

%h2.govuk-heading-l= t('cookie_settings.section_two.heading')

%p.govuk-body= t('cookie_settings.section_two.paragraph_one')

%form#cookie-form{:method => "get", :data => {:module => "cookie-settings"}}

  %h2.govuk-heading-l= t('cookie_settings.section_three.heading')

  %p.govuk-body= t('cookie_settings.section_three.paragraph_one')

  %ul.govuk-list.govuk-list--bullet
    %li= t('cookie_settings.section_three.list_item_one')
    %li= t('cookie_settings.section_three.list_item_two')

  %p.govuk-body= t('cookie_settings.section_three.paragraph_two')

  %p.govuk-body
    %a.govuk-link{ :href => "cookies" }= t('cookie_settings.section_three.link_to_cookie_page')

  %fieldset.govuk-fieldset{ :aria-describedby => "cookie-hint-1" }
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
      = t('cookie_settings.section_three.subsection_one.heading')
      %span#cookie-hint-1.govuk-hint
        %p= t('cookie_settings.section_three.subsection_one.paragraph_one')
        %p= t('cookie_settings.section_three.subsection_one.paragraph_two')
      .govuk-radios.govuk-radios--inline
        .govuk-radios__item
          %input#ga_on.govuk-radios__input{ :type => "radio", :name => "analytical-cookies", :value => "on", :type => "radio" }
          %label.govuk-label.govuk-radios__label{ :for => "ga_on" }
            On
        .govuk-radios__item
          %input#ga_off.govuk-radios__input{ :type => "radio", :name => "analytical-cookies", :value => "off", :type => "radio" }
          %label.govuk-label.govuk-radios__label{ :for => "ga_off" }
            Off
  %button.govuk-button{:type => "submit", :data => {:module => "govuk-button"}}
    Save changes
