= govuk_page_title(t('cookies.page_title'))

%p.govuk-body= t('cookies.section_one.paragraph_one')

%p.govuk-body= t('cookies.section_one.paragraph_two')

%h2.govuk-heading-l= t('cookies.section_two.section_heading')

%p.govuk-body= t('cookies.section_two.paragraph_one')

%p.govuk-body= t('cookies.section_two.paragraph_two')

%ul.govuk-list.govuk-list--bullet
  %li= t('cookies.section_two.list_item_one')
  %li= t('cookies.section_two.list_item_two')
  %li= t('cookies.section_two.list_item_three')

%h2.govuk-heading-l= t('cookies.section_three.section_heading')

%p.govuk-body= t('cookies.section_three.paragraph_one')

%h2.govuk-heading-l= t('cookies.section_four.section_heading')

%p.govuk-body= t('cookies.section_four.paragraph_one')
