= form_with(model: @link_attempt, url: '/laa_references', local: true) do |f|
  - if @link_attempt
    =f.govuk_error_summary

  = render 'defendants/defendant'

  = render 'defendants/offences'

  = f.hidden_field(:id, value: params[:id])
  = f.hidden_field(:defendant_id, value: @defendant.id)
  = f.hidden_field(:defendant_asn, value: @defendant_asn)

  = f.govuk_text_field :maat_reference,
    value: nil,
    label: { text: t('laa_reference.link.form.maat_reference.label') },
    hint_text: t('laa_reference.link.form.maat_reference.hint')

  = f.govuk_submit(t('laa_reference.link.form.submit'))

  %details.govuk-details
    %summary.govuk-details__summary
      %span.govuk-details__summary-text=t('laa_reference.missing_maat_id.label')
    %p.govuk-details__details-text=t('laa_reference.missing_maat_id.description')
    = f.govuk_submit(t('laa_reference.missing_maat_id.submit'), secondary: true)
