= form_with(url: '/laa_references', local: true) do |f|

  = render 'defendant', locals: @defendant

  = render 'offences', locals: @defendant

  = f.hidden_field(:id, value: params[:id])
  = f.hidden_field(:defendant_id, value: @defendant.id)

  = f.govuk_text_field :maat_reference,
    value: nil,
    label: { text: t('laa_reference.link.form.maat_reference.label') },
    hint_text: t('laa_reference.link.form.maat_reference.hint')

  = f.govuk_submit(t('laa_reference.link.form.submit'))

  %details.govuk-details
    %summary.govuk-details__summary
      %span.govuk-details__summary-text=t('laa_reference.missing_maat_id.label')
    %p.govuk-details__details-text=t('laa_reference.missing_maat_id.description')
    = f.govuk_submit(t('laa_reference.missing_maat_id.submit'), secondary: true)
