= form_with(model: link_attempt, url: '/laa_references', data: { turbo: false }) do |f|
  - content_for :error_summary do
    = f.govuk_error_summary

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: 'defendants/defendant', locals: { defendant: defendant,
                                                          prosecution_case_reference: prosecution_case_reference }

  .govuk-grid-row
    .govuk-grid-column-full
      %turbo-frame#offence-table{ src: offences_defendant_path(defendant.id, urn: params[:urn]) }
        = render partial: 'defendants/offences', locals: { defendant:, offence_history_collection: }
        - if offence_history_collection.nil?
          .moj-js-hidden{ class: "govuk-!-margin-bottom-4" }
            = link_to t('defendants.reload'), new_laa_reference_path(id: params[:id], urn: params[:urn], load_offence_history: true), class: 'govuk-link'

      - unless FeatureFlag.enabled?(:no_linking)
        = hidden_field_tag(:urn, params[:urn])

        = f.hidden_field(:defendant_id, value: params[:id] || defendant_uuid)

        = f.govuk_text_field :maat_reference,
                             label: { text: t('laa_reference.link.form.maat_reference.label') },
                             hint: { text: t('laa_reference.link.form.maat_reference.hint') }

        = f.govuk_submit t('laa_reference.link.form.submit'), data: { disable_with: 'Linking...' }

        = govuk_detail(t('laa_reference.missing_maat_id.label')) do
          %p.govuk-details__details-text= t('laa_reference.missing_maat_id.description')
          = f.govuk_submit(t('laa_reference.missing_maat_id.submit'), secondary: true, name: 'commit', value: t('laa_reference.missing_maat_id.submit'))
