= form_with(model: link_attempt, url: '/laa_references', data: { turbo: false }) do |f|
  - content_for :error_summary do
    = f.govuk_error_summary

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: 'defendants/defendant', locals: { defendant: defendant,
                                                          prosecution_case_reference: prosecution_case_reference,
                                                          link_attempt: link_attempt }

  .govuk-grid-row
    .govuk-grid-column-full
      %turbo-frame#offence-table{ src: offences_defendant_path(defendant.id, urn: params[:urn]) }
        = render partial: 'defendants/offences', locals: { defendant:, offence_history_collection: }
        - if offence_history_collection.nil?
          .moj-js-hidden{ class: "govuk-!-margin-bottom-4" }
            = link_to t('defendants.reload'), new_laa_reference_path(id: params[:id], urn: params[:urn], include_offence_history: 'true'), class: 'govuk-link'
