= form_with(model: @unlink_attempt, url: defendant_path(@defendant.arrest_summons_number), local: true, method: 'patch') do |f|
  = f.govuk_error_summary

  = f.govuk_collection_select :reason_code,
    @unlink_reasons,
    :code,
    :description,
    options: { include_blank: t('generic.form.select.blank_option') },
    label: { text: t('defendant.form.reason_code.label') }

  = f.govuk_text_area :other_reason_text,
    label: { text: t('defendant.form.other_reason_text.label') },
    hint_text: t('defendant.form.other_reason_text.hint'),
    rows: 5

  = f.govuk_submit(t('laa_reference.unlink.form.submit'))