= form_with(model: unlink_attempt, url: defendant_path(defendant.id), method: 'patch', data: { turbo: false }) do |f|
  - content_for :error_summary do
    = f.govuk_error_summary

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: 'defendants/defendant',
               locals: { defendant: defendant,
                         prosecution_case_reference: prosecution_case_reference }

  .govuk-grid-row
    .govuk-grid-column-full
      %turbo-frame#offence-table{ src: offences_defendant_path(defendant.id, urn: params[:urn]) }
        = render partial: 'defendants/offences', locals: { defendant:, offence_history_collection: }
        - if offence_history_collection.nil?
          .moj-js-hidden{ class: "govuk-!-margin-bottom-4" }
            = link_to t('defendants.reload'), edit_defendant_path(params[:id], urn: params[:urn], include_offence_history: 'true'), class: 'govuk-link'

      = hidden_field_tag(:urn, params[:urn])

      - unless FeatureFlag.enabled?(:no_linking)
        %h2.govuk-heading-m{ class: "govuk-!-margin-bottom-2" }
          = t('defendants.unlink.detail')
        = render 'defendants/unlink_warning'
        = render 'defendants/unlinking_fields', { f: }
