.govuk-heading-l
  = t('search.result.representation_order.heading')

%table.govuk-table{ class: "govuk-!-margin-bottom-9" }
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('search.result.representation_order.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }= t('search.result.representation_order.granted_at')
      %th.govuk-table__header{ scope: 'col' }= t('search.result.representation_order.maat_number')
      %th.govuk-table__header{ scope: 'col' }= t('search.result.representation_order.provider')
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell
        todo
      %td.govuk-table__cell
        todo
      %td.govuk-table__cell
        todo
