- content_for :page_title, "#{t('generic.defendant')} #{@defendant.name} - #{service_name} - GOV.UK"
- content_for :page_heading do
  %span#copy-alert.govuk-visually-hidden{ "aria-live": "polite" }
  %h1.govuk-heading-xl{ class: "govuk-!-margin-bottom-5" }
    %span.govuk-caption-xl= t('generic.defendant')
    %span#defendant-name= @defendant.name
    %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-defendant-name", class: "govuk-!-margin-bottom-0 govuk-!-margin-left-2" }
      Copy
%strong.govuk-tag{ class: "govuk-!-margin-bottom-5" }
  = t("generic.case")

- content_for :custom_packs do
  = javascript_include_tag 'unlink', defer: true
  = javascript_include_tag 'copy_button', defer: true

= render partial: 'form', locals: { defendant: @defendant,
                                    unlink_attempt: @unlink_attempt,
                                    unlink_reasons: @unlink_reasons,
                                    prosecution_case_reference: @prosecution_case_reference,
                                    offence_history_collection: @offence_history_collection }
