= govuk_page_title(t('devise.confirmations.user.form.page_title'))

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource

  = f.govuk_email_field(:email,
                        label: { text: 'Email' },
                        autofocus: true,
                        autocomplete: 'email',
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email))

  = f.govuk_submit(t('devise.confirmations.user.form.submit'))

= render "devise/shared/links"
