- content_for :pre_heading do
  %strong.govuk-tag{ class: "govuk-!-margin-bottom-5" }
    = t(".appeal")
= govuk_page_title(@hearing_day.day_string, t('generic.hearing_day'), class: 'govuk-!-margin-bottom-3')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %nav.moj-pagination#pagination-label
      %p.govuk-visually-hidden{ 'aria-labelledby': 'pagination-label' }
        = t(".pagination_navigation")
      %ul.moj-pagination__list
        - if @next_day
          %li.moj-pagination__item.moj-pagination__item--next
            = link_to(t('.next'),
                      court_application_hearing_hearing_day_path(@application.application_id, @next_day.hearing.id, @next_day.date),
              class: 'moj-pagination__link')
        - if @previous_day
          %li.moj-pagination__item.moj-pagination__item--prev
            = link_to(t('.previous'),
                      court_application_hearing_hearing_day_path(@application.application_id, @previous_day.hearing.id, @previous_day.date),
              class: 'moj-pagination__link')


.govuk-grid-row
  .govuk-grid-column-one-third
    .govuk-heading-l
      = t('.details')
    %div{ class: "govuk-!-margin-bottom-9" }
      .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
        = t('.hearing_type')
      %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
        = @hearing_day.hearing.hearing_type || t('generic.not_available')
      .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
        = t('.court')
      %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
        = @hearing_day.hearing.court_centre.name || t('generic.not_available')
      .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
        = t('.time_listed')
      %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
        = @hearing_day.time_string

    %h2.govuk-heading-l
      = t('.attendees')
    .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
      = t('.defendants')
    %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
      = @application.subject_summary.name
    .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
      = t('.defence_advocates')
    %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
      = @hearing_details.defence_counsels_list
    .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
      = t('.prosecution_advocates')
    %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
      = @hearing_details.prosecution_counsels_list
    .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
      = t('.judges')
    %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
      = @hearing_details.judiciary_list


  .govuk-grid-column-two-thirds
    .govuk-heading-l
      = t('.events')
    - if @hearing_events&.events&.any?
      %table.govuk-table
        %caption.govuk-table__caption.govuk-visually-hidden
          = t('.events')
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: 'col' }= t('.event.time')
            %th.govuk-table__header{ scope: 'col' }= t('.event.event')
        %tbody.govuk-table__body
          - @hearing_events.events.each do |event|
            %tr.govuk-table__row
              %td.govuk-table__cell
                = event.event_time.to_datetime.strftime('%H:%M')
              %td.govuk-table__cell.hearing-events-table__cell--overflow-wrap
                = event.recorded_label
                - if event&.note.present?
                  %div{ class: 'govuk-!-padding-top-1' }
                    = transform_and_sanitize(event.note)
    - else
      %p.govuk-body
        = t('.event.none')

    = render partial: 'hearings/court_applications_v2', locals: { hearing: @hearing_details.hearing }

    - if @application.subject_summary.proceedings_concluded
      .govuk-heading-l
        = t('.result')
      .govuk-body
        = @application.result_string
