%h2{ class: 'govuk-heading-l govuk-!-margin-bottom-4' } Providers

%table{ class: 'govuk-table govuk-!-margin-bottom-9' }
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' } Name
      %th.govuk-table__header{ scope: 'col' } Role

  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to 'name'
        = link_to 'Neil Griffiths'
      %td.govuk-table__cell Junior Alone
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to 'Teresa Robertson'
      %td.govuk-table__cell Junior Alone
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to 'Nicole Williams'
      %td.govuk-table__cell Junior Alone
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to 'Bethany Richards'
      %td.govuk-table__cell Junior Alone
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to 'Steven Young'
      %td.govuk-table__cell Junior Alone
