%h2{ class: 'govuk-heading-l govuk-!-margin-bottom-4' } Proceedings

%table.govuk-table{ class: 'govuk-!-margin-bottom-9' }
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' } Date
      %th.govuk-table__header{ scope: 'col' } Hearing
      %th.govuk-table__header{ scope: 'col' } Providers attending

  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '22/06/2017'
      %td.govuk-table__cell Plea and Trial Preparation (PTP)
      %td.govuk-table__cell Neil Griffiths (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '03/04/2018'
      %td.govuk-table__cell Mention – Defendant to Attend (MDA)
      %td.govuk-table__cell Teresa Robertson (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '11/02/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Nicole Williams (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '12/02/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Nicole Williams (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '13/02/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Nicole Williams (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '11/03/2019'
      %td.govuk-table__cell Pre-Trial Review (PTR)
      %td.govuk-table__cell Nicole Williams (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '20/03/2019'
      %td.govuk-table__cell Pre-Trial Review (PTR)
      %td.govuk-table__cell Bethany Richards (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '08/10/2019'
      %td.govuk-table__cell Pre-Trial Review (PTR)
      %td.govuk-table__cell Bethany Richards (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '11/10/2019'
      %td.govuk-table__cell Pre-Trial Review (PTR)
      %td.govuk-table__cell Nicole Williams (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '12/11/2019'
      %td.govuk-table__cell Application to Break Fixture (BFA)
      %td.govuk-table__cell Bethany Richards (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '18/11/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Steven Young (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '19/11/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Steven Young (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '20/11/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Steven Young (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '21/11/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Steven Young (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '22/11/2019'
      %td.govuk-table__cell Trial (TRL)
      %td.govuk-table__cell Steven Young (Junior Alone)
    %tr.govuk-table__row
      %td.govuk-table__cell
        = link_to '29/11/2019'
      %td.govuk-table__cell Mention – Defendant to Attend (MDA)
      %td.govuk-table__cell Steven Young (Junior Alone)
