= form_with model: [@user] do |f|
  = f.govuk_text_field(:first_name, label: { text: 'First Name' })
  = f.govuk_text_field(:last_name, label: { text: 'Last Name' })
  = f.govuk_text_field(:email, label: { text: 'Email' })
  = f.govuk_submit( 'Save' )