= govuk_page_title(t('users.edit.page_title'))
  
.govuk-body 
  = form_with model: [@user] do |f|
    = f.govuk_text_field(:first_name, label: { text: t('users.edit.first_name') } )
    = f.govuk_text_field(:last_name, label: { text: t('users.edit.last_name') } )
    = f.govuk_text_field(:email, label: { text: t('users.edit.email') } )
    = f.govuk_submit( t('users.edit.save_button') )