= govuk_page_heading(t('users.index.page_title'))

.govuk-grid-row
  .govuk-grid-column-full
    = link_to t('users.index.new_link'),
              new_user_path,
              class: 'govuk-button',
              "data-module": 'govuk-button',
              draggable: 'false',
              role: 'button'
.govuk-grid-row
  .govuk-grid-column-one-half
    %button.search-form-toggle.govuk-button.govuk-button--secondary{ type: "button", class: @user_search.toggle_class }
      = t('users.index.show_filter')
    %button.search-form-element.hide-search-form-toggle.govuk-button.govuk-button--secondary{ type: "button", class: @user_search.form_class }
      = t('users.index.hide_filter')
  .govuk-grid-column-full.search-form-element{ class: @user_search.form_class }
    = render 'users/search_form', user_search: @user_search
  .govuk-grid-column-one-half.search-form-element{ class: @user_search.form_class }
    &nbsp;
  .govuk-grid-column-one-half
    %p{ class: "govuk-body warning-text govuk-!-text-align-right" }
      &#x25CF;
      %span.govuk-body
        = t('users.index.inactive_user')
.govuk-grid-row
  .govuk-grid-column-full
    - direction = render user_sorter_direction == 'asc' ? "shared/up_icon" : "shared/down_icon"
    - nondirection = render "shared/updown_icon"
    - if @users.any?
      %table.govuk-table
        %caption.govuk-table__caption.govuk-visually-hidden
          = t('users.show.caption')

        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: 'col' }
              = link_to(user_sorter_link('name'), class: "govuk-link--no-visited-state", "aria-label": "Sort name") do
                = t('users.generic.name')
                = user_sorter_column?('name') ? direction : nondirection
            %th.govuk-table__header{ scope: 'col' }
              = link_to(user_sorter_link('username'), class: "app-no-wrap govuk-link--no-visited-state", "aria-label": "Sort username") do
                = t('users.generic.username')
                = user_sorter_column?('username') ? direction : nondirection
            %th.govuk-table__header{ scope: 'col' }
              = link_to(user_sorter_link('email'), class: "govuk-link--no-visited-state", "aria-label": "Sort email") do
                = t('users.generic.email')
                = user_sorter_column?('email') ? direction : nondirection
            %th.govuk-table__header{ scope: 'col' }
              = link_to(user_sorter_link('roles'), class: "govuk-link--no-visited-state", "aria-label": "Sort roles") do
                = Roles
                = user_sorter_column?('roles') ? direction : nondirection
            %th.govuk-table__header{ scope: 'col' }
              = link_to(user_sorter_link('last_sign_in_at'), class: "app-no-wrap govuk-link--no-visited-state", "aria-label": "Sort last_sign_in_at") do
                = t('users.generic.last_sign_in')
                = user_sorter_column?('last_sign_in_at') ? direction : nondirection
            %th.govuk-table__header{ scope: 'col' }
              = t('users.generic.action')

        %tbody.govuk-table__body
          - @users.each do |user|
            %tr.govuk-table__row{ "data-user-id": user.id.to_s }
              %td.govuk-table__cell
                = link_to user.name, user_path(user), class: 'govuk-link'
              %td.govuk-table__cell
                = link_to user.username.to_s, user_path(user), class: 'govuk-link'
              %td.govuk-table__cell
                = mail_to user.email, class: 'govuk-link', target: '_blank' do
                  = user.email
                  %span.govuk-visually-hidden= t('generic.new_window')
              %td.govuk-table__cell
                = user.roles.map(&:titlecase).join(', ')
              %td.govuk-table__cell
                - if user.last_sign_in_at
                  - if user.last_sign_in_at < 3.months.ago
                    %span.warning-text &#x25CF;
                  = user.last_sign_in_at.to_formatted_s(:date_only)
                - else
                  %span
                    = t('users.generic.never_signed_in')
              %td.govuk-table__cell
                = link_to edit_user_path(user), class: 'govuk-link' do
                  = t('users.index.edit')
                  %span.govuk-visually-hidden= t('users.index.action_aria', name: user.name)
                %br
                = link_to t('users.index.delete'), users_confirm_delete_path(user), class: 'govuk-link'
      = render 'shared/pagination', pagy: @pagy, item_name: t('users.generic.user')
      = link_to 'Export Users', users_export_all_path, class: 'govuk-button govuk-button--secondary govuk-!-margin-top-5'
    - else
      %p.govuk-body
        %strong
          = t('users.index.none')
      %p.govuk-body
        = t('users.index.improve_search')
      %ul.govuk-list.govuk-list--bullet
        - t('users.index.search_suggestions').each do |suggestion|
          %li= suggestion
