= govuk_page_title(t('users.index.page_title'))

= link_to t('users.index.new_link'), new_user_path, class: 'govuk-link'

%hr
%table
  - @users.each do |user|
    %tr{"data-user-id": "#{user.id}"}
      %td
        = link_to user.name, user_path(user), class: 'govuk-link'
      %td
        = mail_to user.email, class: 'govuk-link', target: '_blank' do
          = user.email
          %span.govuk-visually-hidden= t('generic.new_window')
      %td
        = link_to t('users.index.edit'), edit_user_path(user), class: 'govuk-link'
        |
        = link_to t('users.index.delete'), user_path(user), method: :delete, data: { confirm: t('users.index.delete_confirmation', name: user.name) }, class: 'govuk-link'
