= govuk_page_title(t('users.show.page_title'))

.govuk-body
  %table
    %tbody
      %tr
        %th{ scope: 'row' }
          = t('users.show.name_label')
        %td
          = @user.name
      %tr
        %th{ scope: 'row' }
          = t('users.show.email_label')
        %td
          = mail_to @user.email, @user.email
  = link_to t('users.show.edit_link'), edit_user_path(@user)

  = link_to t('users.show.change_password_link'), change_password_user_path(@user)
