= govuk_page_title(t('devise.passwords.user.form.change.page_title'))

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource

  = f.hidden_field :reset_password_token

  = f.govuk_password_field(:password,
                           label: { text: 'New password' },
                           autofocus: true,
                           autocomplete: 'new-password',
                           hint: { text: "#{@minimum_password_length} characters minimum" })

  = f.govuk_password_field(:password_confirmation,
                           label: { text: 'Confirm new password' },
                           autocomplete: 'new-password')

  = f.govuk_submit(t('devise.passwords.user.form.change.submit'), "data-turbo": 'false')

= render "devise/shared/links"
