= govuk_page_title(t('devise.passwords.user.form.reset.page_title'))

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource

      = f.govuk_email_field(:email, label: { text: 'Email' }, autofocus: true, autocomplete: 'email')
      = f.govuk_submit(t('devise.passwords.user.form.reset.submit'), "data-turbo": 'false')

    = render "devise/shared/links"
