%div{:class => "govuk-!-margin-bottom-9"}
  %h2.govuk-heading-l
    = t('hearings.show.attendees.heading')
  .govuk-heading-s
    = t('hearings.show.attendees.defendants')
  %p.govuk-body
    = hearing.defendant_name_list
  .govuk-heading-s
    = t('hearings.show.attendees.defence')
  %p.govuk-body
    = hearing.provider_list
  .govuk-heading-s
    = t('hearings.show.attendees.prosecution')
  %p.govuk-body
    = hearing.prosecution_advocate_name_list
  .govuk-heading-s
    = t('hearings.show.attendees.judges')
  %p.govuk-body
    = hearing.judge_name_list