%h2.govuk-heading-l
  = t('hearings.show.attendees.heading')

%table.govuk-table{:class => "govuk-!-margin-bottom-9"}
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('hearings.show.attendees.caption')
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.defendants')
      %td.govuk-table__cell
        = hearing.defendant_name_list
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.defence')
      %td.govuk-table__cell
        = hearing.provider_list
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.prosecution')
      %td.govuk-table__cell
        = hearing.prosecution_advocate_name_list
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.judges')
      %td.govuk-table__cell
        = hearing.judge_name_list
