%div{ class: "govuk-!-margin-bottom-9" }
  .govuk-heading-l
    = t('generic.detail')
  .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
    = t('hearings.show.hearing_type')
  %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
    = hearing_summary&.hearing_type || t('generic.not_available')
  .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
    = t('hearings.show.court')
  %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
    = hearing_summary&.court_centre&.name || t('generic.not_available')
  .govuk-heading-s{ class: "govuk-!-margin-bottom-1" }
    = t('hearings.show.time_listed')
  %p.govuk-body{ class: "govuk-!-margin-bottom-2" }
    = hearing_datetime&.strftime('%H:%M') || t('generic.not_available')
