%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('hearings.show.events.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }= t('hearings.show.events.time')
      %th.govuk-table__header{ scope: 'col' }= t('hearings.show.events.event')
  %tbody.govuk-table__body
    - hearing.hearing_events_for_day(hearing_day).each do |event|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = event.occurred_at.to_datetime.strftime('%H:%M')
        %td.govuk-table__cell
          = event.description
