%div{:class => "govuk-!-margin-bottom-9"}
  .govuk-heading-l
    = t('generic.detail')
  .govuk-heading-s
    = t('hearings.show.hearing_type')
  %p.govuk-body
    = hearing&.hearing_type || t('generic.not_available')
  .govuk-heading-s
    = t('hearings.show.court')
  %p.govuk-body
    = hearing&.court_name || t('generic.not_available')
  .govuk-heading-s
    = t('hearings.show.time_listed')
  %p.govuk-body
    = hearing_day&.strftime('%H:%M') || t('generic.not_available')
