= govuk_page_title(@hearing_day&.strftime('%d/%m/%Y'), t('generic.hearing_day'), class: 'govuk-!-margin-bottom-2')

= render partial: 'pagination', locals: { paginator: @paginator }

= render partial: 'listing_info', locals: { hearing: @hearing, hearing_day: @hearing_day }

= render partial: 'attendees', locals: { hearing: @hearing }

- if @hearing.hearing_events
  = render partial: 'hearing_events', locals: { hearing: @hearing, hearing_day: @hearing_day }

- if Rails.configuration.x.display_raw_responses
  = render partial: 'raw_response', locals: { hearing: @hearing }
