= govuk_page_title(@hearing_day&.strftime('%d/%m/%Y'), t('generic.hearing_day'), class: 'govuk-!-margin-bottom-2')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render partial: 'pagination', locals: { paginator: @paginator }

.govuk-grid-row
  .govuk-grid-column-one-third
    = render partial: 'details', locals: { hearing_summary: @prosecution_case.hearing_summaries.find { |each| each.id == @hearing_id },
                                           hearing_day: @hearing_day }

    = render partial: 'attendees', locals: { hearing: @hearing, hearing_details: @hearing.try(:hearing) }

  .govuk-grid-column-two-thirds
    = render(partial: 'hearing_events', locals: { hearing_events: @hearing_events, hearing_day: @hearing_day }) if @hearing_events

    = render(partial: 'hearing_result', locals: { hearing: @hearing }) if @hearing.try(:hearing).try(:cracked_ineffective_trial).try(:description)

    = render partial: 'court_applications', locals: { hearing: @hearing.try(:hearing) }

- if Rails.configuration.x.display_raw_responses
  = render partial: 'raw_response',
           locals: { hearing_summary: @prosecution_case.hearing_summaries, hearing: @hearing, hearing_events: @hearing_events }
