= govuk_page_title(@hearing_day&.strftime('%d/%m/%Y'), t('generic.hearing'))

%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('generic.hearing')
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.hearing_type')
      %td.govuk-table__cell
        = @hearing&.hearing_type || t('generic.not_available')
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.court')
      %td.govuk-table__cell
        = @hearing&.court_name || t('generic.not_available')
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.time_listed')
      %td.govuk-table__cell
        = @hearing_day&.strftime('%H:%M') || t('generic.not_available')

%h2.govuk-heading-m
  = t('hearings.show.attendees.heading')

%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('hearings.show.attendees.caption')
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.defendants')
      %td.govuk-table__cell
        = @hearing&.defendant_names&.join('<br>').html_safe || t('generic.not_available')
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.defence')
      %td.govuk-table__cell
        - providers = @hearing.providers.map { |p| "#{p.name} (#{p.role})" }.join('<br>').html_safe
        = providers || t('generic.not_available')
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.prosecution')
      %td.govuk-table__cell
        = @hearing&.prosecution_advocate_names&.join(', ') || t('generic.not_available')
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'row' }
        = t('hearings.show.attendees.judges')
      %td.govuk-table__cell
        = @hearing&.judge_names&.join(', ') || t('generic.not_available')

%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('hearings.show.events.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }= t('hearings.show.events.time')
      %th.govuk-table__header{ scope: 'col' }= t('hearings.show.events.event')
  %tbody.govuk-table__body
    - @hearing&.hearing_events&.sort {|a,b| a.occurred_at <=> b.occurred_at }&.each do |event|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = event.occurred_at.to_datetime.strftime('%H:%M')
        %td.govuk-table__cell
          = event.description

- if Rails.configuration.x.display_raw_responses
  %br
  %br
  = govuk_detail('View raw data') do
    %h3='Hearings'
    %pre
      = JSON.pretty_generate(@hearing&.attributes)
    %h3='Hearing events'
    %pre
      = JSON.pretty_generate(@hearing&.hearing_events&.map(&:attributes))
