= govuk_page_title(@hearing_day&.strftime('%d/%m/%Y'), t('generic.hearing_day'), class: 'govuk-!-margin-bottom-2')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render partial: 'pagination', locals: { paginator: @paginator }

.govuk-grid-row
  .govuk-grid-column-one-third
    = render partial: 'details', locals: { hearing: @hearing, hearing_day: @hearing_day }

    = render partial: 'attendees', locals: { hearing: @hearing }

  .govuk-grid-column-two-thirds
    - unless Feature.enabled?(:hearing_events)
      - if @hearing.hearing_events
        = render partial: 'hearing_events', locals: { hearing: @hearing, hearing_day: @hearing_day }
    - else
      - if @hearing_events
        = render partial: 'hearing_events_v2', locals: { hearing_events: @hearing_events, hearing_day: @hearing_day }

    - if @hearing.cracked_ineffective_trial
      = render partial: 'hearing_result', locals: { hearing: @hearing }

    = render partial: 'court_applications', locals: { hearing: @hearing }

- if Rails.configuration.x.display_raw_responses
  = render partial: 'raw_response', locals: { hearing: @hearing }
