= govuk_page_heading(@hearing_day&.strftime('%d/%m/%Y'), caption_text: t('generic.hearing_day'), tag_options: { class: 'govuk-!-margin-bottom-2' })

- content_for :pre_heading do
  .govuk-grid-row
    .govuk-grid-column-two-thirds
    - unless @hearing.try(:hearing)&.has_shared_results? # hearing not present of results not shared
      = render partial: "shared/warning",
               locals: { message: "Attendees, results, and applications aren't available because results haven't been shared by the court" }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render 'shared/govuk_prev_next_pagination',
             prev_url: (@paginator.first_page? ? nil : @paginator.previous_path),
             next_url: (@paginator.last_page? ? nil : @paginator.next_path)
%strong.govuk-tag{ class: "govuk-tag--blue govuk-!-margin-bottom-5" }
  = t("generic.case")

.govuk-grid-row
  .govuk-grid-column-one-third
    = render partial: 'details', locals: { hearing_summary: @prosecution_case.hearing_summaries.find { |each| each.id == @hearing_id },
                                           hearing_datetime: @hearing_datetime }

    - is_prosecution_case = @hearing.try(:hearing)&.prosecution_cases&.any?
    - if is_prosecution_case || !@hearing.loaded?
      = render partial: 'attendees_on_prosecution_cases', locals: { hearing: @hearing,
                                                                    hearing_details: @hearing.try(:hearing) }
    - else # Appeal, Breach or Poca
      = render partial: 'attendees_on_court_applications', locals: { hearing: @hearing,
                                                                     hearing_details: @hearing.try(:hearing),
                                                                     prosecution_case: @prosecution_case }

  .govuk-grid-column-two-thirds
    = render(partial: 'hearing_events', locals: { hearing_events: @hearing_events, hearing_day: @hearing_day }) if @hearing_events

    = render(partial: 'hearing_result', locals: { hearing: @hearing }) if @hearing.try(:hearing).try(:cracked_ineffective_trial).try(:description)

    = render partial: 'court_applications', locals: { hearing: @hearing.try(:hearing) }

- if Rails.configuration.x.display_raw_responses
  = render partial: 'raw_response',
           locals: { hearing_summary: @prosecution_case.hearing_summaries, hearing: @hearing, hearing_events: @hearing_events }
