- content_for :pre_heading do
  = render '/feedback_on_appeals_to_crown_court', application: @application

- content_for :custom_packs do
  = javascript_include_tag 'unlink', defer: true
  = javascript_include_tag 'copy_button', defer: true

- content_for :page_title, "#{@application.appeal? ? t('.appeal_title') : t('.title')} - #{service_name} - GOV.UK"
- content_for :page_heading do
  %span.govuk-visually-hidden#copy-alert{ "aria-live": "polite" }
  %h1.govuk-heading-xl{ class: "govuk-!-margin-bottom-5" }
    %span.govuk-caption-xl= @application.appeal? ? t(".appellant") : t(".respondent")
    %span.copy-button-heading
      %span#subject-name= @subject.name
      %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-subject-name", type: "button", class: "govuk-!-margin-bottom-0 govuk-!-margin-left-2" }
        Copy
- if @application.appeal?
  %strong.govuk-tag{ class: "govuk-tag--purple govuk-!-margin-bottom-5" }
    = t("subjects.appeal")
- else
  %strong.govuk-tag{ class: "govuk-tag--yellow govuk-!-margin-bottom-5" }
    = t("subjects.#{@application.application_category}")

  .govuk-body
    Information on this screen relates to the person as a respondent, and may differ from the defendant or appeal screens.

:ruby
  link_url = if @application.maat_linked?
    unlink_court_application_subject_path(@application.application_id)
  else
    link_court_application_subject_path(@application.application_id)
  end
= form_with(model: @form_model, url: link_url, data: { turbo: false }) do |f|
  - content_for :error_summary do
    = f.govuk_error_summary

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %table.govuk-table
        %caption.govuk-table__caption.govuk-visually-hidden
          = t(".respondent")
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: "row" }
              = t(".date_of_birth")
            %td.govuk-table__cell
              %span#subject-dob= l(@subject.date_of_birth)
            %td.govuk-table__cell{ class: "govuk-!-text-align-right" }
              - if @subject.date_of_birth.present?
                %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-subject-dob", type: "button", class: "govuk-!-margin-bottom-0" }
                  Copy
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: "row" }
              = t(".case_urn")
            %td.govuk-table__cell
              %span#subject-case-urn= @application.application_reference
            %td.govuk-table__cell{ class: "govuk-!-text-align-right" }
              %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-subject-case-urn", type: "button", class: "govuk-!-margin-bottom-0" }
                Copy
          -# haml-lint:disable RepeatedId
          - if @application.appeal? || @application.poca?
            %tr.govuk-table__row
              %th.govuk-table__header{ scope: "row" }
                = t(".arrest_summons_number")
              %td.govuk-table__cell
                -# Important: In case of an appeal, the ASN comes nil from the @subject, so we need to get it from the @application.defendant
                %span#subject-asn= @application.defendant.arrest_summons_number
              %td.govuk-table__cell{ class: "govuk-!-text-align-right" }
                - if @application.defendant.arrest_summons_number.present?
                  %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-subject-asn", type: "button", class: "govuk-!-margin-bottom-0" }
                    Copy
          - else
            %tr.govuk-table__row
              %th.govuk-table__header{ scope: "row" }
                = t(".respondent_arrest_summons_number")
              %td.govuk-table__cell
                %span#subject-asn= @subject.defendant_asn
              %td.govuk-table__cell{ class: "govuk-!-text-align-right" }
                - if @subject.defendant_asn.present?
                  %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-subject-asn", type: "button", class: "govuk-!-margin-bottom-0" }
                    Copy
            - if @application.breach?
              %tr.govuk-table__row
                %th.govuk-table__header{ scope: "row" }
                  = t(".plea")
                %td.govuk-table__cell
                  = @application.result_string
                %td.govuk-table__cell
          -# haml-lint:enable RepeatedId
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: "row" }
              = t(".maat_number")
            %td.govuk-table__cell
              %span#subject-maat-number= @application.maat_reference
            %td.govuk-table__cell{ class: "govuk-!-text-align-right" }
              - if @application.maat_reference.present?
                %button.govuk-button.govuk-button--secondary.copy-button{ id: "copy-subject-maat-number", type: "button", class: "govuk-!-margin-bottom-0" }
                  Copy

  = link_to t(".view.#{@application.application_category}"),
            court_application_path(@application.application_id),
            class: "govuk-button govuk-button--secondary"

  - if @application.appeal?
    %turbo-frame#offence-table{
      src: offences_defendant_path(@application.defendant.id, urn: @application.prosecution_case_reference, offence_ids: @subject.offence_summary.map(&:id).join(","))
    }
      = render partial: 'defendants/offences',
               locals: { defendant: @application.defendant, offence_history_collection: @offence_history_collection, offence_ids: @subject.offence_summary.map(&:id) }
      - if @offence_history_collection.nil?
        .moj-js-hidden{ class: "govuk-!-margin-bottom-4" }
          = link_to t('defendants.reload'), court_application_subject_path(@application.application_id, include_offence_history: 'true'), class: 'govuk-link'

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - unless FeatureFlag.enabled?(:no_linking)
        - if @application.maat_linked?
          %h2.govuk-heading-m{ class: "govuk-!-margin-bottom-2" }
            = t('defendants.unlink.detail')
          = render 'defendants/unlink_warning'
          = render 'defendants/unlinking_fields', { f: }
        - else
          = f.govuk_text_field :maat_reference,
                               label: { text: t('laa_reference.link.form.maat_reference.label') },
                               hint: { text: t('laa_reference.link.form.maat_reference.hint') }

          = f.govuk_submit t('laa_reference.link.form.submit'), data: { disable_with: 'Linking...' }, name: 'maat_ref_required', value: 'true'

          -# For POCA, Appeal and Breach it is possible to link without a MAAT ID (Dummy MAAT ID)
          - if @application.poca? || @application.appeal? || @application.breach?
            = govuk_detail(t('laa_reference.missing_maat_id.label')) do
              %p.govuk-details__details-text= t('laa_reference.missing_maat_id.description')
              = f.govuk_submit(t('laa_reference.missing_maat_id.submit'), secondary: true, name: 'maat_ref_required', value: 'false')
