- content_for :page_title, "#{t('.title')} - #{service_name} - GOV.UK"
- content_for :page_heading do
  %h1.govuk-heading-xl{ class: "govuk-!-margin-bottom-5" }
    = t(".title")
- if @application.appeal?
  %strong.govuk-tag{ class: "govuk-tag--purple govuk-!-margin-bottom-5" }
    = t("subjects.appeal")
- else
  %strong.govuk-tag{ class: "govuk-tag--yellow govuk-!-margin-bottom-5" }
    = t("subjects.#{@application.application_category}")

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %table.govuk-table
      %caption.govuk-table__caption.govuk-visually-hidden
        = t(".title")
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: "row" }
            = t(".name")
          %td.govuk-table__cell
            = @subject.name
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: "row" }
            = t(".date_of_birth")
          %td.govuk-table__cell
            = l(@subject.date_of_birth, format: :medium)
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: "row" }
            = t(".case_urn")
          %td.govuk-table__cell
            = @application.application_reference
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: "row" }
            = t(".arrest_summons_number")
          %td.govuk-table__cell
            -# In case of an appeal, the ASN comes nil from the @subject, so we get it from the @application.defendant
            = @application.appeal? ? @application.defendant.arrest_summons_number : @subject.defendant_asn
        - if @application.breach?
          %tr.govuk-table__row
            %th.govuk-table__header{ scope: "row" }
              = t(".plea")
            %td.govuk-table__cell
              = @application.result_string

= form_with(model: @form_model, url: link_court_application_subject_path(@application.application_id), data: { turbo: false }) do |f|
  - content_for :error_summary do
    = f.govuk_error_summary

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = f.govuk_text_field :maat_reference,
                           label: { text: t('laa_reference.link.form.maat_reference.label') },
                           hint: { text: t('laa_reference.link.form.maat_reference.hint') }

      .govuk-button-group
        = f.govuk_submit t('laa_reference.link.form.submit'), data: { disable_with: 'Linking...' }, name: 'maat_ref_required', value: 'true'
        = link_to subject_back_label(@application), court_application_subject_path(@application.application_id), class: 'govuk-link'

      = govuk_detail(t('laa_reference.missing_maat_id.label')) do
        %p.govuk-details__details-text= t('laa_reference.missing_maat_id.description')
        = f.govuk_submit(t('laa_reference.missing_maat_id.submit'), secondary: true, name: 'maat_ref_required', value: 'false')
