- content_for :custom_packs do
  = javascript_include_tag 'unlink', defer: true
- content_for :page_title do
  = page_title(t(".title"))
.govuk-width-container
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t(".title")
  .govuk-grid-row
    .govuk-grid-column-one-quarter
      .govuk-body{ class: 'govuk-!-margin-bottom-0' }
        %strong
          = t(".name")
    .govuk-grid-column-three-quarters
      .govuk-body{ class: 'govuk-!-margin-bottom-0' }
        = @subject.name
  .govuk-grid-row
    .govuk-grid-column-one-quarter
      .govuk-body
        %strong
          = t(".maat_id")
    .govuk-grid-column-three-quarters
      .govuk-body
        = @application.maat_reference
  = form_with(model: @form_model, url: unlink_court_application_subject_path(@application.application_id), data: { turbo: false }) do |f|
    - content_for :error_summary do
      = f.govuk_error_summary
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        = f.govuk_collection_select :reason_code,
                                    UnlinkReason.all,
                                    :code,
                                    :description,
                                    options: { include_blank: t('generic.form.select.blank_option') },
                                    label: { text: t('defendants.form.reason_code.label') }

        = f.govuk_text_area :other_reason_text,
                            label: { text: t('defendants.form.other_reason_text.label') },
                            hint: { text: t('defendants.form.other_reason_text.hint') },
                            rows: 5,
                            max_chars: 500

        .govuk-warning-text
          %span.govuk-warning-text__icon{ "aria-hidden" => "true" } !
          %strong.govuk-warning-text__text
            %span.govuk-visually-hidden
              = t('generic.warning')
            = t('defendants.unlink.warning')

        = f.govuk_submit t('defendants.form.submit'), class: 'govuk-button--warning', data: { disable_with: 'Unlinking...' } do
          = link_to t('.back'), court_application_subject_path(@application.application_id), class: 'govuk-link'
