= govuk_page_heading(t('devise.sessions.user.form.page_title'))

- if FeatureFlag.enabled?(:time_based_access_restriction)
  - content_for :pre_heading do
    = render "shared/alert" do
      %h2.moj-alert__heading
        = t('generic.out_of_hours.alert_title')
      = t('generic.out_of_hours.alert_content')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.govuk_error_summary

      = f.govuk_text_field(:login,
                           label: { text: t('users.form.fields.login_label') },
                           autofocus: true,
                           autocomplete: 'email',
                           "data-cy": 'login-username')

      = f.govuk_password_field(:password,
                               label: { text: 'Password' },
                               autocomplete: 'current-password',
                               "data-cy": 'login-password')

      - if devise_mapping.rememberable?
        = f.govuk_collection_radio_buttons :remember_me,
                                           [%w[1 Yes], %w[0 No]],
                                           :first,
                                           :last,
                                           inline: true,
                                           legend: { text: 'Remember me', size: 's' },
                                           hint: { text: 'Do you want to be remembered on this computer?' }

        = f.govuk_submit(t('devise.sessions.user.form.submit'), "data-cy": 'login-submit')

    = render "devise/shared/links"
