= govuk_page_title(t('devise.sessions.user.form.page_title'))

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.govuk_error_summary

  = f.govuk_text_field(:login,
    label: { text: t('users.form.fields.login_label') },
    autofocus: true,
    autocomplete: 'email')

  = f.govuk_password_field(:password, label: { text: 'Password' }, autocomplete: 'current-password')

  - if devise_mapping.rememberable?
    = f.govuk_collection_radio_buttons :remember_me,
      [['1', 'Yes'], ['0', 'No']],
      :first,
      :last,
      inline: :true,
      legend: { text: 'Remember me', size: 's' },
      hint: { text: 'Do you want to be remembered on this computer?' }

    = f.govuk_submit(t('devise.sessions.user.form.submit'))

= render "devise/shared/links"
