= form_with model: @search, local: true do |f|
  = f.govuk_error_summary
  = f.hidden_field(:filter, value: @filter)
  = f.govuk_text_field(:term, value: @term, label: { text: @label }, hint_text: @hint )

  - if @filter.eql?('defendant')
    = f.govuk_date_field :dob,
      legend: { text: t('search.dob.legend_text') },
      hint_text: t('search.dob.hint_text')

  = f.govuk_submit( t('generic.search') )
