= render 'results_header'

- if @results.empty?
  = render 'no_results'
- else
  %table.govuk-table
    %caption.govuk-table__caption.govuk-visually-hidden
      = t('search.result.caption')
    %thead.govuk-table__head
      %tr.govuk-table__row
        / / # - @results.each do |value|
        /   %th.govuk-table__header{ scope: 'col' }
        /     = value.to_s.humanize
    %tbody.govuk-table__body
      - @results&.each do |result|
        %tr.govuk-table__row
          %td.govuk-table__cell= result.prosecution_case_reference
          %td.govuk-table__cell= result.first_name
          %td.govuk-table__cell= result.last_name
          %td.govuk-table__cell= l(result.date_of_birth.to_date)
