%h2.govuk-heading-m
  = t('search.result.hearing.heading')
%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('search.result.hearing.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }= t('search.result.hearing.hearing_day')
      %th.govuk-table__header{ scope: 'col' }= t('search.result.hearing.hearing_type')
  %tbody.govuk-table__body
    - prosecution_case.hearings_summaries_with_day_by_datetime.each_with_index do |hearing_summary, idx|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = link_to hearing_summary.day.strftime('%d/%m/%Y'), hearing_path(id: hearing_summary.id, urn: prosecution_case.prosecution_case_reference, page: idx), class: 'govuk-link'
        %td.govuk-table__cell
          = hearing_summary.hearing_type
