%h2.govuk-heading-m
  = t('search.result.hearing.heading')
%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('search.result.hearing.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }
        = hearings_sorter_link('date')
      %th.govuk-table__header{ scope: 'col' }
        = hearings_sorter_link('type')
      %th.govuk-table__header{ scope: 'col' }
        = hearings_sorter_link('provider')
  %tbody.govuk-table__body
    - prosecution_case.sorted_hearings_with_day.each_with_index do |hearing, idx|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = link_to hearing.day.strftime('%d/%m/%Y'), hearing_path(id: hearing.id, urn: prosecution_case.prosecution_case_reference, sort_order: @sort_order, page: idx), class: 'govuk-link'
        %td.govuk-table__cell
          = hearing.hearing_type
        %td.govuk-table__cell
          = hearing ? hearing.provider_list : t('generic.not_available')
