%h2.govuk-heading-l{ class: "govuk-!-margin-bottom-4" }
  = t('search.result.hearing.heading')
%table.govuk-table.app-sortable-table{ class: "govuk-!-margin-bottom-9" }
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('search.result.hearing.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }
        = hearings_sorter_link(case_summary, 'date')
      %th.govuk-table__header{ scope: 'col' }
        = hearings_sorter_link(case_summary, 'type')
      %th.govuk-table__header{ scope: 'col' }
        = hearings_sorter_link(case_summary, 'provider')
  %tbody.govuk-table__body
    - case_summary.sorted_hearing_summaries_with_day.each_with_index do |hearing_summary, idx|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = link_to hearing_summary.day.to_fs(:date_only), hearing_path(id: hearing_summary.id,
                                                                        urn: case_summary.prosecution_case_reference, column: case_summary.hearings_sort_column,
                                                                        direction: case_summary.hearings_sort_direction, page: idx), class: 'govuk-link'
        %td.govuk-table__cell
          = hearing_summary.hearing_type
          - if hearing_summary.estimated_duration
            %br
            %span.app-body-secondary
              = hearing_summary.formatted_estimated_duration
        %td.govuk-table__cell
          = hearing_summary ? hearing_summary.defence_counsel_list : t('generic.not_available')
