= govuk_page_title(@prosecution_case.prosecution_case_reference, t('generic.case'))

.govuk-heading-m
  = t('search.result.defendant.heading')
%table.govuk-table
  %caption.govuk-table__caption.govuk-visually-hidden
    = t('search.result.caption')
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' }= t('search.result.defendant.name')
      %th.govuk-table__header{ scope: 'col' }= t('search.result.defendant.date_of_birth')
      %th.govuk-table__header{ scope: 'col' }= t('search.result.defendant.maat_number')
  %tbody.govuk-table__body
    - @results.each do |cse|
      - cse.defendants.each do |defendant|
        %tr.govuk-table__row
          %td.govuk-table__cell
            = link_to defendant.name, defendant_path(defendant.arrest_summons_number || defendant.national_insurance_number)
          %td.govuk-table__cell
            = l(defendant.date_of_birth&.to_date)
          %td.govuk-table__cell
            = defendant.maat_reference || t('search.result.defendant.unlinked')
