= govuk_page_title(@prosecution_case.prosecution_case_reference, t('generic.case'))

= render partial: 'cracked_ineffective_trial', locals: { results: @results }

= render partial: 'defendants', locals: { results: @results , prosecution_case: @prosecution_case}

= render partial: 'hearing_summaries', locals: { results: @results }

- if Rails.configuration.x.display_raw_responses
  = render partial: 'raw_response'
