= govuk_page_title(@prosecution_case.prosecution_case_reference, t('generic.case'))

- if v2_hearing_summaries?
  = render partial: 'prosecution_cases/cd_api/show_v2', locals: { prosecution_case: @prosecution_case }
- else
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: 'cracked_ineffective_trial', locals: { prosecution_case: @prosecution_case }

      = render partial: 'defendants', locals: { prosecution_case: @prosecution_case }

      = render partial: 'hearing_summaries', locals: { prosecution_case: @prosecution_case }

      - if Rails.configuration.x.display_raw_responses
        = render partial: 'raw_response', locals: { prosecution_case: @prosecution_case }