= govuk_page_heading(prosecution_case.prosecution_case_reference, caption_text: t('generic.case'))

.govuk-grid-row
  .govuk-grid-column-full
    %nav.moj-sub-navigation
      %ul.moj-sub-navigation__list
        %li.moj-sub-navigation__item
          %a.moj-sub-navigation__link{ "aria-current": "page" }
            = t('prosecution_case.sub_navigation.overview')
        %li.moj-sub-navigation__item
          = link_to t('prosecution_case.sub_navigation.related_court_applications'),
                    related_court_applications_prosecution_case_path(prosecution_case.prosecution_case_reference),
                    class: 'moj-sub-navigation__link'

    = render partial: 'prosecution_cases/overall_defendants', locals: { case_summary: prosecution_case }

    = render partial: 'prosecution_cases/hearing_summaries', locals: { case_summary: prosecution_case }

    - if Rails.configuration.x.display_raw_responses
      = render partial: 'prosecution_cases/raw_response',
               locals: { case_summary: prosecution_case }
