.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-l{ class: 'govuk-!-margin-top-5 ' }
      = t('stats.show.current_period')
    %table.govuk-table{ class: "govuk-!-margin-bottom-4" }
      %caption.govuk-table__caption.govuk-visually-hidden
        = t('stats.show.previous_ranges.caption')
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }= t('stats.show.alltime')
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }= t('stats.show.daterange')
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell= t('stats.show.linked')
          %td.govuk-table__cell= @all_collection.current_range.linked
          %td.govuk-table__cell= collection.current_range.linked
        %tr.govuk-table__row
          %td.govuk-table__cell= t('stats.show.unlinked')
          %td.govuk-table__cell= @all_collection.current_range.unlinked
          %td.govuk-table__cell= collection.current_range.unlinked


.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-l{ class: 'govuk-!-margin-top-5 ' }
      = t('stats.show.previous_periods')
    %p.govuk-hint
      = t('stats.show.previous_ranges.hint')
    %table.govuk-table{ class: "govuk-!-margin-bottom-4" }
      %caption.govuk-table__caption.govuk-visually-hidden
        = t('stats.show.previous_ranges.caption')
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }= t('stats.show.previous_ranges.from')
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }= t('stats.show.previous_ranges.to')
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }= t('stats.show.previous_ranges.linked')
          %th.govuk-table__header{ scope: 'col', class: 'govuk-!-width-one-quarter' }= t('stats.show.previous_ranges.unlinked')
      %tbody.govuk-table__body
        - collection.previous_ranges.each do |range|
          %tr.govuk-table__row
            %td.govuk-table__cell= range.date_from.to_date.to_fs(:human_readable)
            %td.govuk-table__cell= range.date_to.to_date.to_fs(:human_readable)
            %td.govuk-table__cell= range.linked
            %td.govuk-table__cell= range.unlinked
