= form_with model: @feedback, url: feedback_index_path, local: true do |f|
  = f.govuk_error_summary
  = f.govuk_text_area :comment,
    label: { text: t('feedback.comment_label') },
    hint: { text: t('feedback.comment_hint') },
    rows: 5

  = f.govuk_email_field :email,
    label: { text: t('feedback.email_label') },
    hint: { text: t('feedback.email_hint') }

  = f.govuk_collection_radio_buttons :rating,
    Feedback::RATINGS,
    :first,
    :last,
    legend: { text: t('feedback.ratings_label'), size: 's' }

  = f.govuk_submit( t('generic.continue') )
