%footer.govuk-footer{ role: "contentinfo" }
  .govuk-width-container
    .govuk-footer__meta
      .govuk-footer__meta-item.govuk-footer__meta-item--grow
        %h2.govuk-visually-hidden
          = t('layouts.application.footer.support')

        %ul.govuk-footer__inline-list
          %li.govuk-footer__inline-list-item
            = link_to t('layouts.application.footer.cookies'), cookies_settings_path, class: 'govuk-footer__link'

          %li.govuk-footer__inline-list-item
            = link_to t('layouts.application.footer.contact'), contact_us_path, class: 'govuk-footer__link'

          %li.govuk-footer__inline-list-item
            = t('layouts.application.footer.built_by_html')

        %svg.govuk-footer__licence-logo{ focusable: "false", height: "17", "aria-hidden": "true", viewbox: "0 0 483.2 195.7", width: "41", xmlns: "http://www.w3.org/2000/svg" }
          %path{ d: t('layouts.application.footer.licence_logo'), fill: "currentColor" }
        %span.govuk-footer__licence-description
          = t('layouts.application.footer.licence_html')
      .govuk-footer__meta-item
        %a.govuk-footer__link.govuk-footer__copyright-logo{ href: t('layouts.application.footer.copyright_url') }
          = t('layouts.application.footer.copyright')
