%section.govuk-service-navigation{ "aria-label" => "Service information", "data-module" => "govuk-service-navigation" }
  .govuk-width-container
    .govuk-service-navigation__container
      %span.govuk-service-navigation__service-name
        %a.govuk-service-navigation__link{ href: signed_in? ? authenticated_root_path : unauthenticated_root_path }
          = service_name

      - if signed_in?
        %nav.govuk-service-navigation__wrapper{ "aria-label" => t('layouts.application.header.navigation.menu') }
          %button.govuk-service-navigation__toggle.govuk-js-service-navigation-toggle{ "aria-controls" => "navigation", hidden: "", type: "button" }
            = t('layouts.application.header.navigation.menu')
          %ul.govuk-service-navigation__list#navigation
            - if can?(:new, Search)
              = navigation_item(new_search_filter_path, t('layouts.application.header.navigation.search'), active: controller_name.in?(%w[search_filters searches]))
            - if can?(:read, Cda::LinkingStatCollection)
              = navigation_item(new_stats_path, t('layouts.application.header.navigation.view_stats'))
            - if can?(:index, User)
              = navigation_item(users_path, t('layouts.application.header.navigation.manage_users'), active: controller_name == 'users')
